<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='favicon.ico') }}">
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ url_for('index') }}">导航</a>
      <a class="navbar-item" href="{{ url_for('webtools.quick_iina') }}">工具箱</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        {% if g.user %}
        <span>{{ g.user['username'] }}</span>
        <a class="button is-danger" href="{{ url_for('auth.logout') }}">退出</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {
      const target = el.dataset.target;
      const $target = document.getElementById(target);
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');
    });
  });
});
</script>